@font-face {
    font-family: PS2P;
    src: url(fonts/PressStart2P.ttf);
}

@font-face {
    font-family: Aldrich;
    src: url(fonts/Aldrich.ttf);
}


body {
    background-color: #C0C0C0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: PS2P, sans-serif;
    font-weight: bold;
    color: #000080;
}

p {
    font-family: Aldrich, sans-serif;
    font-size: 1.5em;
    color: #000000;
}

a {
    font-family: Aldrich, sans-serif;
}

span {
     font-family: Aldrich, sans-serif;
}

nav {
    font-size: 2em;
}

li {
    font-family: Aldrich, sans-serif;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

/* Standard Flex Box */ 
.column_div {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.row_div {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

/* Big Web title */ 

#web-title {
    font-size: 3em;
    text-align: center;
}

/* Board Info */

.image-with-links {
    margin-top:15px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.image-with-links img {
    max-width: 400px;
}

.one-image-text-box {
    display: flex;
    align-items: flex-start;
}

.one-image-text-box img {
    max-width: 400px;

}

.one-image-text-box p {
    display: block;
    width: 50vw;
    max-width: 400px;
    margin-left: 10px;
}


/* Two Images Steps */
.two-image-text-box {
    display: flex;
    align-items: flex-start;
}

.two-image-text-box img {
    max-width: 400px;
}

.text-box {
    max-width: 800px;
}


/* LINKS */ 

.link-list {
    display: flex;
    flex-direction: column;
}

.title_link {
    font-size: 26px;
    font-weight: bold;
    color: #1a0dab;
    text-decoration: none;
    margin-bottom: 8px;
}

.title_link:hover{
    text-decoration: underline;
}

.image-left-link {
    margin-left: 10px;
    font-size: 2em;
}

/* Search Results */
#search-results {
    margin-top: 20px;
}

/* Individual Results */

.result-card {
    display: flex;
    gap: 16px;
    border-radius: 8px;
    padding: 16px 0px 16px 16px;
    background-color: #ffffff;
    transition: transform 0.2s;

    width: 90%;
    max-width: 800px;
}

.result-card:hover {
    transform: translateY(-5px);
}

/* Thumbnail */ 

.result-thumbnail {
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* Title + Other Content Div */

.column1 {
    flex: 2;
}

.column2 {
    flex: 1;
}

.result-card span{
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    color: #4d5156;
}




